@{
    ViewData["Title"] = "Iniciar Sesión";
}

<style>

    form {
        top: 20px;
        width: 500px !important;
        padding: 20px;
        border-radius: 13px;
        box-shadow: 0 0 10px rgb(0 0 0 / 29%);
    }

        form button {
            width: 100%;
        }

</style>

<script type="text/javascript">

    $(document).ready(function () {

        $('form').submit(function (event) {
            event.preventDefault();

            var boton = $(event.target).find("button[type=submit]");
            boton.prop("disabled", true);

            var formData = $(this).serializeArray();

            $.ajax({
                url: '@Url.Action("ValidateCredential", "Account")',
                method: 'POST',
                data: formData,
                success: function (response) {

                    if (response.isSuccess) {
                        const urlParams = new URLSearchParams(window.location.search);
                        const ReturnUrl = urlParams.get('ReturnUrl');
                        window.location.href = ReturnUrl ?? "/";
                    }
                    else {
                        AppShowAlert(TypeAlert.danger, `${response.msg}`, 600);
                    }
                },
                error: function (error) {

                    AppShowAlert(TypeAlert.danger, `Ocurrió un error ;(`, 600);
                    console.error(error);
                }, complete: function () {
                    boton.prop("disabled", false);
                }
            });

        })


    })

</script>

<br />
<br />
<br />

<div class="row justify-content-center">

    <h1 class="text-center">Iniciar Sesión</h1>

    <form>

        <div class="form-group">
            <label for="identificacion">Nombre Usuario</label>
            <input type="text" name="identificacion" placeholder="UserName o identificación" required class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <div class="input-group">
                <input type="password" name="password" id="id-password" class="form-control" required>
                <div class="input-group-append">
                    <span class="input-group-text" onclick="password_show_hide();">
                        <i class="fas fa-eye" id="show_eye">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                            </svg>
                        </i>
                        <i class="fas fa-eye-slash d-none" id="hide_eye">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z" />
                                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                            </svg>
                        </i>
                    </span>
                </div>
            </div>
        </div>

        <br />

        <button type="submit" class="btn btn-success">  Iniciar  </button>

    </form>

</div>
